{% load mptt_tags %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: #d3b1d1">
<nav class="bg-info">
    <br>
    <div class="container text-center">
        <h3>Список сотрудников компании</h3>
    </div>
    <br>
</nav>
<br/>
<div class="container">
    <ul class="menu">
        {% recursetree department %}
            <li>
                <a class="text-dark" href="/department/{{ node.id }}">{{ node.name }}</a>
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
    <hr>
    <h4 class="text-center">Сотрудники выбранного отдела: {{ department_name }} </h4><br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Должность</th>
            <th scope="col">Зарплата</th>
        </tr>
        </thead>
        {% for employee in department_employee %}
            <tbody>
            <tr>
                <td>{{ employee.name }} {{ employee.patronymic }} {{ employee.surname }}</td>
                <td>{{ employee.position }}</td>
                <td>{{ employee.salary }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
</div>
</body>
</html>